################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASINotebooks/v15/.suo
/.vs/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
**/.pytest_cache/**
**/__pycache__/**
**/.vscode/**
