bokeh==1.0.2
pandas==0.23.4
setuptools==40.6.3
numpy==1.15.4
urllib3==1.24.1
ipywidgets==7.4.2
networkx==2.2
requests==2.21.0
attrs==18.2.0
matplotlib==3.0.2
maxminddb_geolite2==2018.703
ipython==7.2.0
Kqlmagic==0.1.90
attr==0.3.1
scikit_learn==0.20.2
typing==3.6.6
